.homeDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.homeCard {
  margin: 10px;
  background: white;
  padding: 20px 20px 20px 20px;
  border: 2px solid black;
  border-radius: 7px;
}

.grinder-foto {
    width: 50%;
    height: 50%;
}

@media only screen and (min-width: 1200px) {
  .homeDiv {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media only screen and (min-width: 1500px) {
  .homeDiv {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media only screen and (max-width: 300px) {
  .homeDiv {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
